@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
body {
    font-size: 18px;
    font-family: 'Hammersmith One', sans-serif;
    color: white;
}

html {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(https://static.pexels.com/photos/5842/people-vintage-photo-memories.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parcel-cost-form {
    margin-top: 10%;
}

.submit-btn {
    text-align: center;
}
